<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class=" col-12 col-md-8 col-lg-6 col-xl-5 ">
        <div>
          <div class="card text card-body p-5 text-center">
            
            <div class="mb-md-5 mt-md-4 pb-5">

              <div class="gif mb-md-5 mt-md-4 pb-5">
                <h2 class="title fw-bold text-uppercase ">Salud Integral</h2>
                <p class="mb-5 ">Salud a tu alcance</p>
  
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control" />
                  <br>
                  <label class="form-label" for="typeEmailX">Correo</label>
                </div>
                
                <div class="form-outline form-white mb-3">
                  <input type="password" id="typePasswordX" class="form-control form-control" />
                  <br>
                  <label class="form-label" for="typePasswordX">Contraseña</label>
                </div>
              </div>
              
              <p class="medium mb-3 pb-lg-5 "><a class="text" href="#!">Olvidaste tu contraseña?</a></p>

              <button class="btn btn-outline-dark text btn-lg px-5" type="submit" (click)="login()">Login</button>

              <br><br>
              <div>
                <p class="mb-0">No tienes cuenta? <a href="#!" class="text-white fw-bold">Ingresa</a>
                </p>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>