div.mat-mdc-snack-bar-label.mdc-snackbar__label{
    background-color: aqua;
    color: black;
    text-align: center;
    margin: auto;
}

.text{
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Young Serif', serif;
}